<!DOCTYPE html>
<html>
<head>
<title>Unordered List Exercise</title>
</head>
<body>

<h1>Welcome to my first ruby on rails page</h1>

<table style="width:100%">
  
  <tr>
    <th>Table</th>
  </tr>
  
  <tr>
    <td>Jill</td>
    <td>Smith</td> 
  </tr>
  
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
  </tr>
</table>

<img src="https://static.pexels.com/photos/248797/pexels-photo-248797.jpeg">

<%=link_to image_tag('16809127_10155838241292782_1106091482_n.jpg'), 'www.mashrurhossain.com'%>

<p>Go to About page:</p><%= link_to "About", about_path %>



</body>
</html>